spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/livraison_qa
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 123456

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

server:
  port: 8080
